.login__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    width: 358px;
    height: 50px;
    margin-top: 216px;
    padding: 0;
  }

  @media screen and (max-width: 900px) {
    .login__button {
      font-size: 16px;
      line-height: 19px;
      width: 260px;
      margin-top: 173px;
    }
  }