.popup__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  width: 358px;
  height: 50px;
  margin-top: 38px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__button:hover {
  opacity: 0.8;
}