.popup {
  z-index: 100;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility  0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: visibility  0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: visibility  0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility  0.5s ease-out, opacity 0.5s ease-out;
}