.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: #000000;
  margin-top: 13px;
  margin-bottom: 10px;
  width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  outline: none;
}

@media screen and (max-width: 900px) {
  .popup__input {
    width: 238px;
  }
}