.profile__add-button {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 282px;
    margin-top: 16px;
    background-size: 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}