.elements-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
}

@media screen and (max-width: 1279px) {
  .elements-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .elements-grid {
      grid-template-columns: repeat(1, 1fr);
  }
}