.profile__description {
  grid-area: description;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__description {
    font-size: 14px;
    line-height: 35px;
    text-align: center;
  }
}